[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pytz = "*"
tgtg = "*"
slackclient = "*"
python-telegram-bot = "*"
emoji = "*"
sentry-sdk = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3"
